<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nki.t1.dao.BlockedCommentsMapper">
    <select id="selectBlocksByPno" parameterType="int" resultType="BlockedCommentDto">
        SELECT bcno       AS bcno
             , cno        AS cno
             , brno       AS brno
             , uno        AS uno
             , blocked_at AS blockedAt
        FROM blocked_comments
        WHERE cno = #{cno}
          AND del = 0
    </select>

    <insert id="blockComment" parameterType="BlockedCommentDto">
        <selectKey keyProperty="bcno" resultType="int" order="BEFORE">
            SELECT ifnull(max(bcno), 0 ) + 1 FROM blocked_comments
        </selectKey>
        INSERT INTO blocked_comments (bcno, cno, brno, uno, memo, blocked_at)
        VALUES (#{bcno}, #{cno}, #{brno}, #{uno}, #{memo}, now())
    </insert>

    <delete id="deleteBlockedComment" parameterType="BlockedCommentDto">
        UPDATE blocked_comments
        SET del_uno    = #{uno}
          , del        = 1
          , deleted_at = now()
        WHERE cno = #{cno}
          AND del = 0
    </delete>
</mapper>