<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nki.t1.dao.CommentsMapper">

    <select id="countComments" parameterType="int" resultType="int">
        SELECT count(*)
        FROM comments
        WHERE comments.del = 0
            AND pno = #{pno}
    </select>

    <select id="selectComments" parameterType="int" resultType="CommentDto">
        SELECT comments.cno                        AS cno,
               comments.pno                        AS pno,
               ifnull(comments.pcno, comments.cno) AS pcno,
               comments.uno                        AS uno,
               users.id                            AS userId,
               comments.comment                    AS comment,
               comments.created_at                 AS createdAt,
               comments.updated_at                 AS updatedAt,
                comments.del                        AS del
        FROM comments
            LEFT JOIN users ON comments.uno = users.uno
        WHERE comments.pno = #{pno}
        ORDER BY pcno ASC, cno ASC
    </select>

    <insert id="insertComment" parameterType="CommentDto">
        <selectKey order="BEFORE" resultType="int" keyProperty="cno">
            SELECT ifnull(max(cno), 0) + 1 AS new_cno FROM comments
        </selectKey>
        INSERT INTO comments (cno, pcno, pno, uno, comment, del)
        VALUES (#{cno}, #{pcno}, #{pno}, #{uno}, #{comment}, 0)
    </insert>

    <update id="updateComment" parameterType="CommentDto">
        UPDATE comments
        SET comment = #{comment},
            updated_at = now()
        WHERE cno = #{cno}
          AND del = 0
          AND uno = #{uno}
    </update>

    <delete id="deleteComment" parameterType="map">
        UPDATE comments
        SET del = 1
        WHERE cno = #{cno}
          AND uno = #{uno}
    </delete>

    <delete id="deleteAll" parameterType="int">
        DELETE FROM comments
        WHERE pno = #{pno}
    </delete>
</mapper>